<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>mega shop</title>
</head>
<body>
<h1>ROZETKA.UA, мы найдем не все </h1>

<script type="template">

</script>

<h2>Products</h2>
<hr>
<table id="products">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
    </tr>
    </thead>
    <tbody id="tbody"></tbody>

</table>
<h2>add new product</h2>
<table>
    <input id="name" placeholder="name"></input>
    <input id="price" placeholder="price"></input>
    <input id="save_button" type="submit" value="add"></input>
</table>

<h2>Consumers</h2>
<hr>
<table id="consumers">
    <thead>
    <tr>
        <th>ID</th>
        <th>FIRST_NAME</th>
        <th>LAST_NAME</th>
        <th>MONEY</th>
        <th>TELEPHONE</th>
    </tr>
    </thead>
    <tbody id="con_body"></tbody>
</table>
<hr>
<table>
    <input id="firstName" placeholder="firstName"></input>
    <input id="lastName" placeholder="lastName"></input>
    <input id="telephone" placeholder="telephone"></input>
    <input id="money" placeholder="money"></input>
    <input id="save_consumer" type="submit" value="addConsum"></input>
</table>
<hr>
<h2>ORDERS</h2>
<table id="orders">
    <thead>
    <tr>
        <th>ID</th>
        <th>CONSUMER</th>
        <th>PRODUCTS</th>
    </tr>
    </thead>
    <tbody id="order_body"></tbody>
</table>
<hr>
<h2>BUY PRODUCT</h2>
    <select size='3' id="select">
    </select>
    <br>
    <input id="order_products" disabled placeholder="products"></input>
    <br>
    <input id="order_sum" disabled placeholder="summa"></input>
    <br>
    <input id="buy_all" type="submit" value="BUY ALL"></input>
    <input id="clean_all" type="submit" value="CLEAN"></input>
</table>

</body>
</html>

<script>
    $(document).ready(function () {
        getConsumerInOrder()
        getAllproducts();
        getAllConsumers();
        getOrders();
        $("#save_button").click(function () {
            saveProd();
            setTimeout(getAllproducts, 200);
        });
        $("#save_consumer").click(function () {
           saveConsum();
            setTimeout(getAllConsumers, 200);
        });
        $("#buy_all").click(function () {
            buyAll();
            setTimeout(getOrders, 200);
        });
        $("#clean_all").click(function () {
            clean();
        });
    });
</script>


